.main-navbar {
    justify-content: center;
    align-items: center;
    padding: 26px 0;

    .navbar-brand {
        display: inline-block;
        font-size: 1.25rem;
        white-space: nowrap;
    }


    .navbar-nav {
        margin-left: 79px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;

        &:hover {
            color: #ff0083 !important;
        }
    }

    .bg-color {
        background-color: #ff0083 !important;
    }

    .style-bar {
        background-color: #ff0083;
        border-radius: 4px;
    }


    .form-inline {
        a {
            color: black;
            padding: 0px 15px;
            display: inline-block;
        }

        .btn-common-nav {
        
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            color: #ffffff;
            padding: 16px 40px;
            background: #ff0083;
            justify-content: center;
            align-items: center;
            border: 1px solid #ff0083;

            &:hover {
                background-color: #ffffff;
                color: #000000;
                border: 1px solid #ff0083;
            }
        }
    }

    .wallet-modal {
        .modal.show .modal-dialog{
            max-width: 746px !important;
        }

        .modal-content {
            height: 343px;
            background: #FFFFFF;
            border: 1px solid #F1F1F1;
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
        }

        .modal-body {
            .cross-img1 {
                position: absolute;
                top: 0px;
                left: 679px;
            }

            h3 {
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                margin-bottom: 29px;
                margin-top: 29px;

                text-align: center;
                text-transform: uppercase;

                color: #121212;
            }
        }

        .button-modal1 {

            .modal-button {

                width: 373px;
                height: 182px;

                background: 
                #FFFFFF;
                border-width: 1px 1px 1px 0px;
               border: 1px solid 
               #E7E7E7;
               &:hover{
                   background-color: #FFF8FB;
               }
            

                h3 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;

                    margin: 0px;
                    text-align: center;
                    margin-top: 10px;
                    margin-bottom: 8px;

                    color: #000000;
                }
                p {
                    font-weight: 500;
                    font-size: 14px;
                    margin-bottom: 32px;
               
                    text-align: center;

                    color:  #ACACAC;

                }
            }
        }
        .text-center{
            font-weight: 500;
font-size: 14px;

text-align: center;

color: #ACACAC;
span{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color:  #FF0083;
}
        }

    }

}
@media (max-width: 430px){
    .button-modal1{
        flex-direction: column !important;
        display: flex !important;
    }
    .main-navbar .wallet-modal .modal-content {
        width: 377px!important;
        height: 501px !important;
        background: #FFFFFF !important;
     
       
    }
}

@media (max-width: 360px) {
    .navbar-brand {
        width: 67%;
    }

    .main-navbar .style-bar {
        width: 28px;
    }
}

.navbar {
    position: relative;

    .ahsbahsba {
        position: absolute;
        height: 100%;
        left: 50%;
        top: 0px;
        transform: translateX(-50%);

        img {
            transition: transform 0.6s ease 0s;
            width: 146px;
            transform: scale(1) translateY(92px);
        }
    }
}

.main-navbar .navbar-nav .dropdown .dropdown-menu li a:hover {
    color: #000;
    border-radius: 8px;
}

.ashvshsv {
    text-decoration: none !important;
    border: none !important;
}

.signxs {
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    color: #ff0083;
    background-color: transparent;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer !important;
    border: none !important;
}

.main-navbar .navbar-nav .dropdown .dropdown-menu li a {
    border-radius: 8px;
}

.button-hedaer {
    transition: 0.4s ease-in-out;
    background: #ff0083;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 194px;
    height: 48px;
    box-shadow: 0px 18px 30px -10px #ff008326;
    border-radius: 5px;
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #ff0083;
    font-family: "Gsemibold";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #ffffff;
    cursor: pointer;
    margin-left: 41px;

    &:hover {
        background-color: transparent;
        border: 1px solid #ff0083;
        color: #ff0083;
    }
}

.main-navbar {
    border-bottom: 1px solid transparent;
    z-index: 100;
    padding-left: 0px;
    transition: height 0.2s ease 0s;
    background: #fafafa;
    width: 100%;

    .navbar-nav {
        .nav-link {
            transition: 0.4s ease-in-out;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 110%;
            padding: 0.5rem 0px;
            color: #9d9d9d;
            margin-right: 40px;
            border: 2px solid transparent;

            &:active {
                color: #000;
            }

            &:hover {
                font-style: normal;
                color: #000000;
                font-size: 16px;
                line-height: 110%;
                border-bottom: 2px solid #ff0083;
            }
        }

        .nav-links {
            display: block;
            padding: 0.5rem 0px;
            font-style: normal;
            text-decoration: none !important;
            color: #000000;
            font-size: 16px;
            line-height: 110%;
            margin-right: 40px;
            border-bottom: 2px solid #ff0083;
        }
    }

    .btn-1 {
        margin-right: 25px;
        background: transparent !important;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: #ff0083;
        cursor: pointer;
    }

    .btn-2 {
        cursor: pointer;
    }

    .hbhcdbh {
        padding-left: 11px;
    }
}

.togg i {
    color: #000000 !important;
}

.main-navbar .nav-item {
    margin-bottom: 8px !important;
    a{
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #9D9D9D;
        transition: 0.7s;
        &:hover{
            color: #FF0083;
        }
    }
}



.main-navbar-mobile {
    transition: 0.4s ease-in-out;
    width: 100%;
    // position: fixed;
    transition: height 0.2s ease 0s;
    border-bottom: 1px solid #ece8e8;

    .navbar-nav .dropdown .dropdown-menu li a {
        border-radius: 8px;
    }

    .ahsbahsba {
        img {
            transform: scale(0.8) translateY(45px);
        }
    }

    background: #fafafa;


    .nav-item {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        margin-right: 35px;
        align-items: center;
        justify-content: center;
        align-content: center;
        color: gray;
    }

    .navbar-nav {
        .nav-link {
            transition: 0.4s ease-in-out;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 110%;
            padding: 0.5rem 0px;
            color: #9d9d9d;
            margin-right: 40px;
            border: 2px solid transparent;

            &:active {
                color: #000;
            }

            &:hover {
                font-style: normal;
                color: #000000;
                font-size: 16px;
                line-height: 110%;
                border-bottom: 2px solid #ff0083;
            }
        }

        .nav-links {
            transition: 0.4s ease-in-out;
            display: block;
            padding: 0.5rem 0px;
            font-style: normal;
            text-decoration: none !important;
            color: #000000;
            font-size: 16px;
            line-height: 110%;
            margin-right: 40px;
            border-bottom: 2px solid #ff0083;
        }
    }

    .btn-1 {
        margin-right: 25px;
        background: transparent !important;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: #ff0083;
        cursor: pointer;
    }

    .btn-2 {
        cursor: pointer;
    }

    .hbhcdbh {
        padding-left: 11px;
    }
}

.navbar-toggler {
    outline: none !important;

    .togg {
        i {
            color: #ff0083 !important;
        }
    }
}

@media (max-width: 2560px) {
    .sdvgdvsdhvd {
        display: none;
    }
}


@media (max-width: 1199px) {
    .navbar-collapse {
        box-shadow: 2px 7px 13px rgba(0, 0, 0, 0.09) !important;
    }

    .main-navbar-mobile .navbar-nav .nav-link:hover {
        border: none !important;
    }

    .navbar-collapse {
        background-color: #fafafa;
        border-radius: 18px;
        padding-bottom: 30px;
    }

    .main-navbar {
        height: unset;
    }

    .main-navbar .navbar-nav .nav-links {
        border-bottom: none;
        text-align: center;
        margin-right: 0px;
    }

    .navbar-nav {
        margin-top: 30px;
    }

    .main-navbar-mobile .navbar-nav .nav-links {
        border-bottom: none;
        text-align: center;
        margin-right: 0px;
    }

    .main-navbar-mobile .navbar-nav .nav-link {
        text-align: center;
        margin-right: 0px;
        padding-bottom: 15px !important;
    }
    .navbar .ahsbahsba {
        display: none;
    }

    .button-hedaer {
        margin-left: 0px;
        margin-top: 20px;
    }

    .shdvs {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .main-navbar .sbvsx {
        display: flex;
        margin: 0 auto;
    }

    .main-navbar .navbar-nav .nav-link {
        text-align: center;
        margin-right: 0px;
    }

    .main-navbar .navbar-nav .nav-item.active .nav-link::before {
        content: "";
        bottom: 0px;
        right: 0;
        left: 0;
        position: absolute !important;
        width: 14% !important;
        margin: 0 auto;
        height: 3px !important;
    }

    .main-navbar {
        .form-inline {
            justify-content: center;
        }
    }
}

@media (max-width: 991px) {
    .navbar-nav {
        margin-top: 30px;
    }

    .main-navbar-mobile .navbar-nav .nav-links {
        border-bottom: none;
        text-align: center;
        margin-right: 0px;
    }

    .main-navbar-mobile .navbar-nav .nav-link {
        text-align: center;
        margin-right: 0px;
    }

    .main-navbar .navbar-nav .nav-links {
        border-bottom: none;
        text-align: center;
        margin-right: 0px;
    }

    .main-navbar {
        .formm-mm {
            .input-bbb {
                margin-left: 0px;
            }
        }

        .form-inline {
            justify-content: center;
        }
    }

    .main-navbar .navbar-nav .nav-link {
        text-align: center;
        margin-right: 0px;
        margin: 0 !important;
        padding-bottom: 15px !important;
    }

    .main-navbar .navbar-nav .nav-item.active .nav-link::before {
        content: "";
        bottom: 0px;
        right: 0;
        left: 0;
        position: absolute !important;
        width: 14% !important;
        margin: 0 auto;
        height: 3px !important;
    }

    .main-navbar .navbar-nav .dropdown .dropdown-menu {
        position: unset;
    }
}

@media (max-width: 600px) {
    .hbdsjbd {
        width: 167px;
    }

    .modal-body .main_text .bhvchvh {
        font-size: 43px !important;
    }
    .main-navbar .navbar-nav{
        align-items: center;
        margin: 0 auto;
        margin-top: 20px;
    }
    .main-navbar-mobile .nav-item{
        margin: 0;
        padding: 10px 0;
    }
    .main-navbar .button-hedaer{
        margin: 0 auto;
    }
    .main-navbar .wallet-modal .modal-content{
        margin: 0 auto;
    }
    .main-navbar .wallet-modal .button-modal1 .modal-button{
        width: 100%;
    }
    .main-navbar .wallet-modal .modal-body .cross-img1 {
        position: absolute;
        top: 15px;
        left: 335px;
    }
    .main-navbar .wallet-modal .modal-content{
        width: 100% !important;
    }
}

.buttonsss {
    background-color: transparent;
    border: none;
}

@media (max-width: 400px) {
    .navbar-brand {
        img {
            width: 167px;
        }
    }
}

@media (max-width: 400px) {
    .modal-body .main_text .bhvchvh {
        font-size: 30px !important;
    }
    .main-navbar .wallet-modal .modal-body .cross-img1 {
        position: absolute;
        top: 15px;
        left: 318px;
    }
}

@media (max-width: 350px) {
    .navbar-brand {
        img {
            width: 150px;
        }
    }
}

.sbjdfbsj {
    display: none;
}