.main-give{
    background-color: #FFFFFF;
    .all-cards{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 40px;
        background: #FFFFFF;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
        margin-top: -150px;
        .main-card{
            
            img{
                margin-bottom: 30px;
            }
            h6{
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 120%;
                color: #000A23;
                margin-bottom: 20px;
            }
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #66718F;
            }

        }
        .line{
            margin: 0 55px;
        }
    }
}


@media (max-width:991px){
    .main-give .all-cards{
        flex-direction: column;
    }
    .main-give .line{
        display: none !important;
    }
    .main-give .all-cards .main-card{
        margin-bottom: 30px;
    }
}
@media (max-width:600px){
    .main-give .all-cards{
        margin-top: unset;
        margin-top: 24px;
    }
    .main-give .all-cards{
        padding: 40px 16px !important;
    }
}