.main-banner {
    // background-image: url("../../../Assets/header-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .inner-content.main-heading.text-center {
        margin-top: 147px;
        margin-bottom: 40px;
        h3 {
            font-family: "Goldman";
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 120%;
            text-align: center;
            color: #121212;
        }
    }
    .parafirst {
        font-family: "Gellix";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #747474;
        margin-bottom: 95px;
    }
    .input-group {
        margin-bottom: 120px !important;
  
        .input-group-append {
            /* margin-left: -1px; */
            width: 866px;
            height: 84px;
            left: 287px;
            top: 504px;
            background: #FFFFFF;
            border: 1px solid #FFDBED;
            box-shadow: 0px 10px 50px #0000000d;
            border-radius: 10px;
            align-items: center;
            padding: 12px 12px 12px 20px;
            gap: 406px;
        }
    }



    .modal-content {
        border-radius: 20px;
        .for-padding {
            padding: 0 50px;
        }
        .form-group {
            input {
                background: #ffffff;
                border: 1px solid #d4d4d4;
                box-sizing: border-box;
                border-radius: 10px;
                height: 45px;
                padding: 6px 12px;
            }
        }
        .btn-common {
            width: 100%;
        }
    }
}

.counter {
    background: #fff;
}
.cursor-pointer {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .main-banner {
        .w-50 {
            width: 100% !important;
        }

        .input-group-text {
            background: #ff0083;
            color: #ffffff;
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
            border-radius: 0px 20px 20px 0px;
            padding: 10px 10px;
        }
    }
}

.abb {
    outline: none !important;
    box-shadow: none !important;
}
