.main-profile {
  .w200 {
      width: 200px;
      height: 200px;
  }

  .for-fixed {
      width: 200px;
      height: 200px;
  }
  .btn-common2 {
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    font-weight: 800;
    color: #000;
    border: none;

    &:hover {
        background-color: #FA2189;
        color: #FFFFFF !important;
    }
  }
.inner-form {
    input {
        // background: #F9FAFF;
/* blueGray/200 */

border: 1px solid #E2E8F0;
box-sizing: border-box;
border-radius: 8px;
height: 56px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;
    }

    textarea {
        height: 171px;
        // background: #F9FAFF;
        /* blueGray/200 */
        
        border: 1px solid #E2E8F0;
        box-sizing: border-box;
        border-radius: 8px;
    }
}
}