.main-adress{
    padding-bottom: 213px;
    padding-top: 209px;
    background-color: #ffffff;
    .heading{
        h2{
            
                font-style: normal;
                font-weight: 700;
                font-size: 35px;
                line-height: 120%;
                text-align: center;
                color: #000A23;
                margin-bottom: 28px;
        }
        p{
          
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                text-align: center;
                color: #66718F;
                margin-bottom: 60px;
        }
    }
    .parent-img{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            margin-right: 31px;
        }
       
    }
}

@media(max-width:991px){
    .main-adress .parent-img{
        overflow-x: scroll;
        justify-content: flex-start;

    }
    .main-adress{
        padding-bottom: 100px !important;
    }
}


