.main-features {
    ul {
        list-style: disc;
        padding: 15px 0;
       margin-left: 30px;
       li {
           margin-bottom: 10px;
       }
    }


}


@media (max-width: 600px) {
    .main-features{
        .inner-tile{
            height: auto;
        }
    }
}