.main-footer {
 
    .inner-footerheading{
        font-family: 'Gellix';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 100%;


color: #9D9D9D;
a{
    margin-right: 35px;
    color:  #9D9D9D!important;
    font-family: 'Gellix';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    
    
    color: #9D9D9D;
    &:hover{
        color: #FA2189!important;
    }
}

    }
    .inner-icon{
        margin-left: 0 auto;
        img{
            margin-right: 10px;
        }
    }
    .inner-logo{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            margin-right: 80px;
        }

        
    }
    .inner-rights{
        margin-top: 50px;
    
    }
    
   
}